body {
    padding: 5px;
}

header input {
    width: 100%;
}

header .input-append {
    padding-right: 14px;
    margin-top: 10px;
}

.googleResults a {
    display: block;
    clear: both;
    margin-top: 5px;
}

.googleResults img {
    width: 100px;
    float: left;
    margin-right: 5px;
}

.rightButton {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline;
}

.chartWrapper {
    height: 400px;
}

#heatMap {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.mapHeader {
    position: absolute;
    height: 40px;
    width: 100%;
}

#mapSlider {
    margin: 25px 50px;
}

.center {
    text-align: center;
}

.thin {
    margin-top: 0px;
    margin-bottom: 0px;
}